/*
 * Copyright (c) 2025, Srishtik Bhandarkar
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
    aliases {
        pzem004t1 = &pzem004t1;
    };
};

&arduino_serial {
    status = "okay";

    modbus1: modbus1 {
        compatible = "zephyr,modbus-serial";
        status = "okay";
        label = "MODBUS_1";

        pzem004t1: pzem004t1 {
            compatible = "peacefair,pzem004t";
            modbus-address = <0xf8>;  // Modbus address
        };
    };
};


